<% include partials/header.ejs%>
<div class="container">
  <center>
  <h1 style="font-family: 'Bangers', cursive;">Welcome to the weather forecaster</h1>
</center>
</div>
<div class="container">
  <center>
    <form action="/search" method="POST">
      <div class="form-row">
        <div class="col-10">
          <input class="form-control" type="text" name="search" placeholder="name of city">
        </div>
        <div class="col">

          <button class="btn btn-primary">Search the city</button>
        </div>

      </div>
    </form>
  </center>

</div>
<center>
<h2 style="font-family: 'Sigmar One', cursive;"><%= search["location"]['city']%></h2>
</center>
<div class="container">

  <div class="row">

    <div class="col-md-6 border border-info">

      <h2>Location</h2>
      region :-<%=search["location"]["region"]%><br>
      country :-<%= search["location"]["country"]%><br>
      latitudes :-<%= search["location"]["lat"]%><br>
      longitudes :-<%= search["location"]["long"]%><br>
      time-zone :-<%= search["location"]["timezone_id"]%><br>


    </div>
  </div>
</div>
<center>
<h3>Forecasts</h3>
</center>
<% search["forecasts"].forEach(function(forecast){%>
  <div class="container border"><h3><%=forecast.day%> - <%=forecast.text%> </h3><h5>Low - <%=forecast.low%>°C</h5><h5>High - <%=forecast.high%>°C</h5><br></div><%});%>

<% include partials/footer.ejs%>
