<h1>Welcome to the weather forecaster</h1>
<form action="/search" method="POST">
  <input type="text" name="search" placeholder="search">
  <button>I made new friend</button>
</form>
<%= search["location"]['city']%>
<h2>Location</h2>

country :-<%= search["location"]["country"]%><br>
latitudes :-<%= search["location"]["lat"]%><br>
longitudes :-<%= search["location"]["long"]%>

<h2>Recent Observations</h2>

<h3>Wind</h3>
<%= JSON.stringify(search["current_observation"]["wind"])%>

<h3>Atmosphere</h3>
<%= JSON.stringify(search["current_observation"]["atmosphere"])%>

<h3>Astronomy</h3>
<%= JSON.stringify(search["current_observation"]["astronomy"])%>

<h3>Forecasts</h3>
<%= console.log(search["forecasts[0]"])%>
